@import "tailwindcss";
:root {
  --sidebar-collapsed: 60px;
  --sidebar-expanded: 200px;
  --header-height: 70px; /* default */
}


/* small reset */
* { box-sizing: border-box; }
html,body,#root { height: 100%; margin: 0; }